log/*.log
log/*.pid
log/searchd.development.pid
log/searchd.*
tmp/**/*
doc/api
doc/app
.DS_Store
tmp/**/*
db/*.sqlite3
db/schema.rb
public/javascripts/all.js
public/stylesheets/all.css
config/database.yml
public/system/*
db/sphinx
db/sphinx/*
log/*.pid
config/development.sphinx.conf
public/*.xml
public/sitemap.xml
public/metas
public/metas.html
public/feedback
public/feedback/*
public/business
public/business/*
public/categories
public/categories/*
public/sitemap/*
public/seo*
public/street/*
public/streets*
public/javascripts/base_packaged.js
public/stylesheets/base_packaged.css
log/development.log
log/production.log
log/test.log
tmp/sass-cache/*
tmp/sass-cache
tmp/sass-cache/*.sass
log/development.log
log/production.log
public/javascripts/public_bundle.js
public/stylesheets/public_bundle.css
public/stylesheets/compiled
public/stylesheets/compiled/*
config/deploy.rb