<table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" width="657" style="width:492.4pt;margin-left:-30.6pt;border-collapse:collapse;border:none;
 mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:480;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:15.95pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Вінницька область<o:p></o:p></span></p>
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" rowspan="2" valign="top" style="width:105.4pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Вінниця<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1;height:17.15pt">
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2;height:15.75pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Волинська область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м.<span style="mso-spacerun:yes">&nbsp; </span>Луцьк<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3;height:11.25pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:11.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м.<span style="mso-spacerun:yes">&nbsp; </span>Ковель<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:11.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:11.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;height:21.75pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Дніпропетровська область<o:p></o:p></span></p>
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Дніпропетровськ<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;height:19.5pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Кривий Ріг<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6;height:18.15pt">
  <td width="168" style="width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Донецька область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Донецьк<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7;height:20.45pt">
  <td width="168" style="width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Житомирська область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Житомир<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул.<span style="mso-spacerun:yes">&nbsp; </span>Перемоги , 24<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8;height:10.25pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Закарпатська область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Ужгород<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">пр-т</span></span><span style="mso-ansi-language:UK"> Свободи , 52<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9;height:14.85pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.85pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Хуст<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.85pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.85pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Духновича<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td width="168" style="width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Запорізька область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Запоріжжя<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11;height:17.6pt">
  <td width="168" rowspan="6" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Івано-Франківська область<o:p></o:p></span></p>
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Івано-Франківськ<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Північний бульвар<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12;height:17.25pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Калуш<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Гостинний Дім<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. <span class="SpellE">Дзвонарська</span>,14<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13;height:14.25pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Коломия<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Гостинний Дім<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Мазепи, 183<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14;height:14.25pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Косів<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Гостинний Дім<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">вул.Гвардійська</span></span><span style="mso-ansi-language:UK">,16 а.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15;height:14.25pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Рогатин<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Пакко</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Галицька, 5<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16;height:14.25pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Долина<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17;height:12.75pt">
  <td width="168" rowspan="4" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Київ та Київська область<o:p></o:p></span></p>
  </td>
  <td width="141" rowspan="4" valign="top" style="width:105.4pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Київ<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">ВК<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">№25 Григоренко, 26<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18;height:15.75pt">
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">ВК<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">№16 Чорнобильська,16/80
  <span class="SpellE">Біличі</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19;height:3.5pt">
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:3.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">ВК<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:3.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">№05 Васильківська, 8<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20;height:9.0pt">
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">ВК<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">№03 Дружби народів
  пл.,6 <span class="SpellE">Ун</span>.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:21;height:16.5pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Луганська область<o:p></o:p></span></p>
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Сєверодонецьк<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:22;height:10.5pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Луганськ<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:23;height:17.25pt">
  <td width="168" rowspan="3" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Львівська область<o:p></o:p></span></p>
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" rowspan="2" valign="top" style="width:105.4pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Львів<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Зелена , 115а, <o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:24;height:9.75pt">
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.75pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><span style="mso-spacerun:yes">&nbsp;</span>вул. Широка , 64<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:25;height:18.0pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Стрий<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Джміль<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Зелена 28<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:26">
  <td width="168" style="width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Миколаївська область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Миколаїв<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Океан<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:27;height:15.75pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Одеська область<o:p></o:p></span></p>
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" rowspan="2" valign="top" style="width:105.4pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Одеса<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Наталка<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:28;height:12.0pt">
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Копійка<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:29;height:12.0pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Рівненська область<o:p></o:p></span></p>
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Рівне <o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Київська , 10<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:30;height:15.0pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Сарни<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Широка,10<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:31;height:18.0pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Тернопільська область<o:p></o:p></span></p>
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Тернопіль<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">ТРЦ Подоляни<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Текстильна 28ч<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:32;height:22.5pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Чортків<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">СМ Французький Бульвар<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. С.Бандери 77<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:33">
  <td width="168" style="width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Херсонська область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Херсон<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:34;height:15.75pt">
  <td width="168" rowspan="3" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Хмельницька область<o:p></o:p></span></p>
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м Хмельницький<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">вул. Довженко ,12<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:35;height:7.5pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Шепетівка<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt">
  <p class="MsoNormal" style="margin-left:5.4pt;text-indent:-5.4pt"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">пр-т</span></span><span style="mso-ansi-language:UK"> Миру<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:36;height:17.25pt">
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Кам’янець - подільський<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">Вопак</span></span><span style="mso-ansi-language:UK"><o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt">
  <p class="MsoNormal"><span class="SpellE"><span style="mso-ansi-language:UK">вул.Червоноармійська</span></span><span style="mso-ansi-language:UK"> ,42<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:37;height:17.15pt">
  <td width="168" style="width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Чернівецька область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. .Чернівці<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">"Норма"
  "Сіті центр"<o:p></o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">Парковий проїзд 2а ,<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:38;height:26.55pt">
  <td width="168" style="width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">Чернігівська область<o:p></o:p></span></p>
  </td>
  <td width="141" valign="top" style="width:105.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Чернігів<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:39;height:18.0pt">
  <td width="168" rowspan="2" style="width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal" align="center" style="text-align:center"><span style="mso-ansi-language:UK">АР Крим <o:p></o:p></span></p>
  </td>
  <td width="141" rowspan="2" valign="top" style="width:105.4pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK">м. Сімферополь<o:p></o:p></span></p>
  </td>
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:40;mso-yfti-lastrow:yes;height:7.5pt">
  <td width="144" valign="top" style="width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width="204" valign="top" style="width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt">
  <p class="MsoNormal"><span style="mso-ansi-language:UK"><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
</tbody></table>