- title 'История компании'

= image_tag 'cisarska/zavod-z-ramkou.png', :style => 'float: right; margin-left: 5px; margin-top: 70px; display: block;', :alt => 'завод'

%h1 История компании

%p
  Ликеро - водочный завод ООО  
  %strong "Станиславская торговая компания"
  вышел на рынок Украины в октябре 2006 года
  и стал наибольшей инвестицией в промышленное производство Ивано-Франковска. 
  
%p  
  %i
    Расположение завода в областном центре Прикарпатья было не случайным:
    для нового производства выбрали один из наиболее экологических регионов страны, 
    где сохранились чистая вода и воздух, где есть качественное природное сырье для изготовления ликеро-водочных напитков.

%p
  Оснащенное с учетом самых современных технологий, предприятие быстро завоевало доверие потребителей благодаря безупречному качеству своей продукции. 

%p
  Многоступенчатое очищение и смягчение воды обеспечивается оборудованием фирмы «Gulligan» (США), 
  мощная линия разлива от итальянской фирмы«Simi Packaging Machines g.r.l”
  
%h4
  %strong Первой на рынок вышла ТМ «Франкивска» в ассортименте которой насчитывалось 6 позиций.
  
%h4
  %strong Производство нового бренда – ТМ «Цисарска» началось в 2007 году. 

%p
  %i
    Такое историческое название – это отголосок событий, которые происходили на западноукраинских землях на протяжении 19 столетия. 
    На то время, одной из наибольших стран Европы была Австро-Венгерская империя, управляющим монархом которой был цесарь. 
    Империя объединяла в себе земли Галичины, Чехии, Австрии, Венгрии  и Буковины, а поскольку на то время было распространено производство крепких напитков, 
    то каждая часть империи имела свою любимую, уникальную и изготовленную согласно традиций водку. 
    Также, популярностью пользовались напитки, привезенные частыми гостями империи – Сербами. 
    Мы решили предложить Вам водку, которая изготовлена с сохранением древних традиций земель Австо-Венгрии. 
  
%p
  %i
    Ассортимент ТМ «Цисарска» - это коллекция с 6 видов водок и водок особых, в которых совмещены уникальные рецептуры и многовековые традиции.  
    Гордостью предприятия также является 
    %strong «Прикарпатский бальзам»
    , — легендарный напиток с сокровищницы национальных рецептов,
    каждая капля которого воплощает в себе природное богатство Карпат. Изготовлен из 16-ти растительных компонентов, 
    среди которых настойки горных трав, бальзам имеет оригинальный непревзойденный вкус и и мощное тонизирующее действие. 

%p
  Ликеро-водочный завод ООО 
  %strong "Станиславская Торговая компания" 
  это в первую очередь – сплоченная команда профессионалов. 
  
%p
  %strong Именно поэтому высокое качество продукции и престиж предприятия является делом чести для каждого работника ЛВЗ.

- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#history_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');