- title "Contact us"

%h1 Contact us

%p
  = render :partial => '/feedback/form'

- content_for :on_ready do
  jQuery('#contact_link').addClass('selected_menu');
  jQuery('#contact_details_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#contacts_nav').css('display', 'block');