- title "Цісарська Сербська Домашня"

%h1 Лінія продукції
%div.line_top_for_bottle

%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Цісарська Сербська Домашня
  %div.description 
    %p
      оригінальна рецептура 
      %br
      надає цій горілці 
      %br
      особливої пікантності. 
      %br
    %p
      Створена на основі спирту 
      %br
      вищого класу «Люкс» 
      %br
      пом’якшеного ароматним 
      %br
      спиртом кмину та 
      %br
      натуральним медом.
  %div.micnist Міцність: 40%;
  %div.mistkist Місткість: 0,5л.

= image_tag 'cisarska/page/domashnya.png', :style => 'float: left; padding-top: 10px'
= image_tag 'cisarska/bg/domashnya.png', :style => 'float: right; width: 347px; height: 500px'

.clear

- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    