- title "Zissarska Serbischer Königswodka"

%h1 Produktionslinie
%div.line_top_for_bottle

%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Zissarska Serbischer Königswodka
  %div.description 
    %p
      eine originelle Rezeptur  
      %br
      verleiht diesem Wodka 
      %br
      eine besondere Schärfe. 
      %br
    %p
      Aufgrund des Alkohols  
      %br
      der Spitzenklasse "Lux"
      %br
      erzeugt, mit dem aromatischen 
      %br
      Alkohol von Kümmel 
      %br
      und natürlichem Honig weichgemacht.
  %div.micnist Stärke  40%;
  %div.mistkist Größe  0,5l.

= image_tag 'cisarska/page/domashnya.png', :style => 'float: left; padding-top: 10px'
= image_tag 'cisarska/bg/domashnya.png', :style => 'float: right; width: 347px; height: 500px'

.clear

- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    