- title "Tsisarska Classic "

%h1 Products Line
%div.line_top_for_bottle

%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Tsisarska Classic 
  %div.description 
    %p
      modern example 
      %br
      of real clear 
      %br
      vodka reproduced 
      %br
      of ancient recipes. 
    %p
      It is produced of 
      %br
      the spirit of higher quality 
      %br
      "Lux".
  %div.micnist Strength: 40%;
  %div.mistkist Holding Capacity: 0,5l.

= image_tag 'cisarska/page/klasychna.png', :style => 'float: left; padding-top: 10px'
= image_tag 'cisarska/bg/klasychna.png', :style => 'float: right; width: 347px; height: 500px'

.clear

- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    