%h1 Натуральність продукції

%table
  %tr
    %td{:style => 'padding-right: 4px'}
      %p Завдяки ексклюзивним рецептурам і використанню винятково натуральної природної сировини продукція лікеро-горілчаного заводу ТзОВ «Станіславська Торгова Компанія» отримала визнання на вітчизняному ринку та за кордоном.
      %p Усі напої — горілки, горілки особливі та бальзам — виготовляються із додаванням компонентів власного приготування. Поєднання старовинних традицій із новітніми технологіями дозволяє створювати продукцію відмінної якості із оригінальним неперевершеним смаком. 
      %p Основою для приготування горілок є суміш високоякісного спирту й води. Зерновий спирт класу «Люкс» поєднується із найчистішою водою з карпатських рік, яка додатково підготовлюється з певними ступенями очистки на установці провідного виробника обладнання ‘’Guligan’’, виробництва США. Спирти найвищого ґатунку постачають виробники, відзначені експертною дегустаційною комісією концерну «Укрспирт».
      %p Суміш спирту й води проходить фільтрацію за класичною технологією на вугільно-пісочній батареї, а також для покращення органолептичних властивостей горілку додатково обробляють за технологією «срібна фільтрація». Для приготування горілок особливих та лікеро-горілчаних напоїв використовуються ароматні спирти, настої, морси і спиртовані соки, що виготовляються на виробництві з натуральної сировини. Ароматні спирти для виробництва горілок особливих отримують дистиляцією (перегонкою) натуральної сушеної рослинної, плодоягідної сировини та прянощів.
      %p Для лікеро-горілчаних напоїв, а саме настоянок та бальзамів готують настої та морси. Їх отримують екстрагуванням сушеної рослинної, плодово-ягідної сировини й прянощів водно-спиртовою рідиною, використовуючи трави звіробою, буркуну, материнки, листя чорної смородини та вишні, цвіт липи, корінь ехінацеї, пелюстки троянди, плоди глоду, шипшини, смородини та горобини, корицю, паприку і червоний стручковий перець.
      %p У бальзамах використовують спиртовані соки чорноплідної горобини, калини та вишні. Виробництво отримує натуральний свіжовідтиснений сік і відразу проводить його спиртування. Це дозволяє максимально зберегти і передати напоям смак та аромат.
      %p Поєднуючи особливі рецептури з натуральними інгредієнтами ми створюємо неймовірну палітру різноманітних смаків та пропонуємо споживачам відчути бездоганну якість нашої продукції.
    %td{:style => 'vertical-align: top'}
      = (link_to (image_tag "frankivska/nat/IMG_2888_small.jpg"), "/images/frankivska/nat/IMG_2888.jpg", :class => 'colorbox')
      %br
      %br
      = (link_to (image_tag "frankivska/nat/IMG_2891_small.jpg"), "/images/frankivska/nat/IMG_2891.jpg", :class => 'colorbox')
      %br
      %br
      = (link_to (image_tag "frankivska/nat/IMG_2892_small.jpg"), "/images/frankivska/nat/IMG_2892.jpg", :class => 'colorbox')
      %br
      %br
      = (link_to (image_tag "frankivska/nat/IMG_2896_small.jpg"), "/images/frankivska/nat/IMG_2896.jpg", :class => 'colorbox')
  
.clear{:style => 'clear: both'}

- content_for :on_ready do
  jQuery('#quality_link').addClass('selected_menu');
  jQuery('#naturality_link').css('color', '#FEFCCB').css('font-weight', 'bold').css('font-size', '10px')
  jQuery('ul#quality_nav').css('display', 'block');