- title "Цісарська Буковинська Пшенична"

%h1 Лінія продукції
%div.line_top_for_bottle

%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Цісарська Буковинська Пшенична
  %div.description 
    %p    
      створена на основі 
      %br
      зернового спирту класу 
      %br
      «Люкс» та спеціально пом’якшеної води. 
      %br
    %p
      Додаткова фільтрація
      %br 
      сріблом наповнює 
      %br
      її неперевершеними 
      %br
      смаковими якостями. 
  %div.micnist Міцність: 40%;
  %div.mistkist Місткість: 0,5л.

= image_tag 'cisarska/page/pshenychna.png', :style => 'float: left; padding-top: 10px'
= image_tag 'cisarska/bg/pshenychna.png', :style => 'float: right; width: 347px; height: 500px'

.clear

- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    