- title "Tsisarska Hungarian "

%h1 Products Line
%div.line_top_for_bottle

%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Tsisarska Hungarian 
  %div.description 
    %p
      it is produced by 
      %br
      the adding of aroma  
      %br
      spirit of pepper,  
      %br 
      red pepper, cloves  
      %br 
      and natural honey. 
      %br
    %p
      Harmonious combination 
      %br
      of each of the component 
      %br
      adds easy 
      %br
      pleasant aroma 
      %br
      and the adding of red
      %br
      pepper adds 
      %br
      ginger feelings.
  %div.micnist Strength: 40%;
  %div.mistkist Holding Capacity: 0,5l.

= image_tag 'cisarska/page/z_pertcem.png', :style => 'float: left; padding-top: 10px'
= image_tag 'cisarska/bg/z_pertcem.png', :style => 'float: right; width: 347px; height: 500px'

.clear

- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    