- title "Zissarska Ungarischer "

%h1 Produktionslinie
%div.line_top_for_bottle

%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Zissarska Ungarischer
  %div.description 
    %p
      mit Zusatz des 
      %br
      aromatischen 
      %br
      Alkohols von Pfeffer, 
      %br 
      Paprika, Nelke  
      %br 
      und natürlichem Honig. 
      %br
    %p
      Die harmonische Verbindung 
      %br
      jedes von den Komponenten 
      %br
      gibt ein leichtes  
      %br
      mildes Aroma, 
      %br
      und der Aufguss von rotem 
      %br
      Pfeffer verleiht 
      %br
      Ihrem Gefühl eine besondere Schärfe.
  %div.micnist Stärke  40%;
  %div.mistkist Größe  0,5l.

= image_tag 'cisarska/page/z_pertcem.png', :style => 'float: left; padding-top: 10px'
= image_tag 'cisarska/bg/z_pertcem.png', :style => 'float: right; width: 347px; height: 500px'

.clear

- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    