<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=672
 style='width:504.0pt;margin-left:-30.6pt;border-collapse:collapse;border:none;
 mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:480;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:15.95pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Вінницька область<o:p></o:p></span></p>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 rowspan=2 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Вінниця<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt'>
  <p class=MsoNormal><span class=SpellE><span style='mso-ansi-language:UK'>гіпермаркет</span></span><span
  style='mso-ansi-language:UK'> &quot;<span class=SpellE>Грош</span>&quot;<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.95pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Чехова, 23<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:17.15pt'>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt'>
  <p class=MsoNormal><span class=SpellE><span style='mso-ansi-language:UK'>гіпермаркет</span></span><span
  style='mso-ansi-language:UK'> &quot;<span class=SpellE>Грош</span> - 2&quot;<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. 600 річчя, 21<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:15.75pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Волинська область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м.<span
  style='mso-spacerun:yes'>  </span>Луцьк<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='background:silver;mso-highlight:silver;
  mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='background:silver;mso-highlight:silver;
  mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;height:11.25pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:11.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м.<span
  style='mso-spacerun:yes'>  </span>Ковель<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:11.25pt'>
  <p class=MsoNormal><span style='background:silver;mso-highlight:silver;
  mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:11.25pt'>
  <p class=MsoNormal><span style='background:silver;mso-highlight:silver;
  mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4;height:21.75pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Дніпропетровська область<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Дніпропетровськ<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt'>
  <p class=MsoNormal><span style='background:silver;mso-highlight:silver;
  mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.75pt'>
  <p class=MsoNormal><span style='background:silver;mso-highlight:silver;
  mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5;height:19.5pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Кривий Ріг<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>магазин &quot;<span
  class=SpellE>Назарет</span>&quot;<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>пр-т. Миру, <span
  style='mso-spacerun:yes'> </span>28<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6;height:18.15pt'>
  <td width=168 style='width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Донецька область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Донецьк<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.15pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7;height:20.45pt'>
  <td width=168 style='width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Житомирська область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Житомир<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.45pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул.<span
  style='mso-spacerun:yes'>  </span>Перемоги , 24<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8;height:10.25pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Закарпатська область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Ужгород<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>пр-т. Свободи , 52<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9;height:14.85pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.85pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Хуст<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.85pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.85pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Духновича<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10'>
  <td width=168 style='width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Запорізька область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Запоріжжя<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>«Гастроном»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>пр-т. Леніна, 153<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11;height:17.6pt'>
  <td width=168 rowspan=6 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Івано-Франківська область<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Івано-Франківськ<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.6pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Північний Бульвар,
  2а<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12;height:17.25pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Калуш<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Гостинний Дім<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. <span
  class=SpellE>Дзвонарська</span>, 14<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13;height:14.25pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Коломия<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Гостинний Дім<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Мазепи, 183<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14;height:14.25pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Косів<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Гостинний Дім<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Гвардійська,16 а.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15;height:14.25pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Рогатин<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>«<span class=SpellE>Пакко</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Галицька, 5<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:16;height:14.25pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Долина<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>СМ «<span class=SpellE>Колібріс</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Грушевського, 7<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:17;height:12.75pt'>
  <td width=168 rowspan=4 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Київ та Київська область<o:p></o:p></span></p>
  </td>
  <td width=156 rowspan=4 valign=top style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Київ<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>«Велика Кишеня»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>№ 25 Григоренко, 26<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:18;height:15.75pt'>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>«Велика Кишеня»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>№ 16
  Чорнобильська,16/80 <span class=SpellE>Біличі</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:19;height:3.5pt'>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>«Велика Кишеня»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:3.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>№ 05 Васильківська, 8<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:20;height:9.0pt'>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>«Велика Кишеня»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>№ 03 Дружби народів
  пл.,6<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:21;height:16.5pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Луганська область<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Сєверодонецьк<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:22;height:10.5pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Луганськ<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:10.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:23;height:17.25pt'>
  <td width=168 rowspan=3 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Львівська область<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 rowspan=2 valign=top style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Львів<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Зелена , 115а, <o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:24;height:9.75pt'>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:9.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><span
  style='mso-spacerun:yes'> </span>вул. Широка , 64<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:25;height:18.0pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Стрий<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Джміль<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Зелена 28<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:26'>
  <td width=168 style='width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Миколаївська область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Миколаїв<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Магазин «Океан»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:27;height:15.75pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Одеська область<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 rowspan=2 valign=top style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Одеса<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Магазин «Наталка»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.75pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:28;height:12.0pt'>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Магазин «Копійка»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:29;height:12.0pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Рівненська область<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Рівне <o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Київська , 10<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:30;height:15.0pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Сарни<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Широка,10<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:31;height:18.0pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Тернопільська область<o:p></o:p></span></p>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Тернопіль<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>ТРЦ «Подоляни»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Текстильна, <span
  style='mso-spacerun:yes'> </span>28ч<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:32;height:22.5pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Чортків<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>СМ «Французький Бульвар»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:22.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. С.Бандери, <span
  style='mso-spacerun:yes'> </span>77<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:33'>
  <td width=168 style='width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Херсонська область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Херсон<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>магазин &quot;<span
  class=SpellE>Маркет</span> Груп&quot;<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Парк імені Леніна.
  Зупинка громадського транспорту. <o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:34;height:41.55pt'>
  <td width=168 rowspan=3 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:41.55pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Хмельницька область<o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.55pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м Хмельницький<o:p></o:p></span></p>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal><span style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.55pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:41.55pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Довженко ,12<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:35;height:7.5pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Шепетівка<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt'>
  <p class=MsoNormal style='margin-left:5.4pt;text-indent:-5.4pt'><span
  style='mso-ansi-language:UK'>супермаркет «<span class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  <p class=MsoNormal style='margin-left:5.4pt;text-indent:-5.4pt'><span
  style='mso-ansi-language:UK'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>пр-т. <span
  style='mso-spacerun:yes'> </span>Миру, 20<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:36;height:17.25pt'>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Кам’янець - Подільський<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет «<span
  class=SpellE>Вопак</span>»<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.25pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Червоноармійська
  ,42<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:37;height:17.15pt'>
  <td width=168 style='width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Чернівецька область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. .Чернівці<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>&quot;Норма&quot; <span
  style='mso-spacerun:yes'> </span>Сіті парк<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.15pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>Парковий проїзд, 2а <o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:38;height:26.55pt'>
  <td width=168 style='width:126.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>Чернігівська область<o:p></o:p></span></p>
  </td>
  <td width=156 valign=top style='width:117.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Чернігів<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>супермаркет
  &quot;Смак&quot;<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.55pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>пр-т. Перемоги, <span
  style='mso-spacerun:yes'> </span>100<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:39;height:18.0pt'>
  <td width=168 rowspan=2 style='width:126.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='mso-ansi-language:UK'>АР Крим <o:p></o:p></span></p>
  </td>
  <td width=156 rowspan=2 valign=top style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>м. Сімферополь<o:p></o:p></span></p>
  </td>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>магазин &quot;<span
  class=SpellE>Свитязь</span>&quot;<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:18.0pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. 60 річчя Жовтня,
  27<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:40;mso-yfti-lastrow:yes;height:7.5pt'>
  <td width=144 valign=top style='width:108.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt'>
  <p class=MsoNormal><span class=SpellE><span style='mso-ansi-language:UK'>мінімаркет</span></span><span
  style='mso-ansi-language:UK'> &quot;Еліта&quot;<o:p></o:p></span></p>
  </td>
  <td width=204 valign=top style='width:152.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.5pt'>
  <p class=MsoNormal><span style='mso-ansi-language:UK'>вул. Сєрова, <span
  style='mso-spacerun:yes'> </span>4<o:p></o:p></span></p>
  </td>
 </tr>
</table>
