- title 'Історія компанії'

= image_tag 'frankivska/zavod-z-ramkou.png', :style => 'float: right; margin-left: 5px; margin-top: 70px; display: block;', :alt => 'завод'

%h1 Історія компанії

%p
  Лікеро-горілчаний завод ТОВ 
  %strong "Станіславська торгова компанія" 
  вийшов на ринок України в жовтні 2006 року і
  став найбільшою інвестицією в промислове виробництво
  Івано-Франківська. 
  
%p  
  %i
    Розташування заводу в обласному центрі Прикарпаття було невипадковим:
    для нового виробництва обрали один з найбільш екологічних регіонів країни,
    де збережені чиста вода і повітря, де є якісна природна сировина для виготовлення горілчаних напоїв.

%p
  Оснащене з урахуванням найсучасніших технологій, підприємство швидко завоювало довіру споживачів завдяки бездоганній якості своєї продукції. 

%p
  Багатоступеневе очищення та пом’якшення води забезпечується обладнанням фірми "Gulligan" (США), потужна лінія розливу 
  від італійської фірми "Simi Packaging Machines g.r.l".
  
%h4
  %strong Першою на ринок вийшла ТМ "Франківська" в асортименті якої налічувалося 6 позицій.
  
%h4
  %strong Виробництво нового бренду – ТМ "Цісарська" було розпочато в 2007 році. 

%p
  %i
    Така історична назва  - це відголосок подій, що відбувались на західноукраїнських землях протягом 19 століття. 
    На той час, однією з найбільших держав Європи була Австро-Угроська імперія, правлячим монархом якої був цісар. Імперія об’єднувала в собі землі
    Галичини, Чехії, Австрії, Угорщини та Буковини, а оскільки на той час було поширене виробництво міцних напоїв, то кожна частина імперії мала свою улюблену,
    унікальну і виготовлену згідно традицій горілку. Також, популярністю користувались напої, привезені частими гостями імперії – Сербами. 
    Ми вирішили запропонувати Вам горілку яка виготовлена із збереженням стародавніх традицій земель Австро-Угорщини. 
  
%p
  %i
    Асортимент ТМ «Цісарська» -  це колекція  з 6 видів горілок та горілок особливих в яких поєднано унікальні рецептури та багатовікові традиції.  
    Гордістю підприємства є також 
    %strong "Прикарпатський бальзам"
    , — легендарний напій зі скарбниці національних рецептів,
    кожна крапля якого втілює в собі природне багатство Карпат. Виготовлений з 16-ти рослинних компонентів, серед яких настої гірських трав, 
    бальзам має оригінальний неперевершений смак і потужну тонізуючу дію. 

%p
  Лікеро-горілчаний завод ТОВ 
  %strong "Станіславська Торгова компанія" 
  це, перш за все, — згуртована команда професіоналів. 
  
%p
  %strong Саме тому висока якість продукції і престиж підприємства є справою честі для кожного працівника ЛГЗ.

- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#history_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');