- title 'Firmengeschichte'

= image_tag 'frankivska/zavod-z-ramkou.png', :style => 'float: right; margin-left: 5px; margin-top: 70px; display: block;', :alt => 'завод'

%h1 Firmengeschichte

%p
  Das Spirituosenwerk von TOV (GmbH) 
  %strong „Stanislawska torgowa kompanija“ 
  erschien auf dem Markt der Ukraine im Oktober 2006
  und wurde zur größten Investition in die Industrieerzeugung von Iwano-Frankiwsk.  
  
%p  
  %i
    Die Lage des Werkes im Gebietszentrum der Vorkarpaten war nicht zufällig:
    für eine neue Produktion wurde eine von besten Öko-Regionen des Landes gewählt, 
    wo klares Wasser und reine Luft geschont sind, wo es reiche Naturrohstoffe für die Erzeugung von Spirituosen vorhanden sind.

%p
  Das mit den modernsten Technologien ausgestattete Unternehmen gewann schnell das Vertrauen der Konsumenten dank der tadellosen Qualität seiner Erzeugnisse.
%p
  Die mehrstufige Reinigung und Enthärtung des Wassers wird durch die Verwendung der Einrichtungen der Firma «Gulligan» (USA) ermöglicht, 
  die leistungsstarke Abfülllinie ist von der italienischen Firma «Simi Packaging Machines g.r.l” vertreten.  
%h4
  %strong Die Handelsmarke (HM) „Frankiwska“ wurde als die erste auf den Markt gebracht, deren Angebot aus 6 Arten bestand. 
  
%h4
  %strong Die Erzeugung der neuen Marke HM „Zissarska“ begann 2007.  

%p
  %i
    Solcher geschichtliche Name ist ein Widerhall der Ereignisse auf den westukrainischen Territorien im Laufe des 19.Jahrhunderts. 
    Zu jener Zeit war die Österreich-Ungarische Monarchie einer von den größten Staaten, dessen regierender Monarch König (auf Ukrainisch „Zissar“) war. 
    Die Monarchie umfasste das Territorium von Galizien, Tschechien, Österreich, Ungarn und Bukowyna. 
    Da die Erzeugung von starken Getränken zu jener Zeit sehr populär war, so hatte jeder Teil der Monarchie seinen beliebten, 
    einzigartigen und traditionellen Schnaps (Wodka). Beliebt waren auch die Getränke, welche die häufigen Gästen der Monarchie Serben mitgebracht hatten. 
    Darum möchten wir Ihnen den Wodka anbieten, welcher durch die Erhaltung der alten Traditionen der Österreich-Ungarischen Länder erzeugt ist.  
  
%p
  %i
    Das Angebot der HM „Zissarska“ besteht aus 6 Wodka-Arten und besonderen Wodkas, welche einzigartige Rezepturen und jahrhundertealte Traditionen beinhalten.  
    Zum Stolz des Unternehmens gehört auch  
    %strong „Prykarpatskyj balsam“
    , - ein legendäres Getränk aus der Schatzkammer von nationalen Rezepten, 
    dessen jeder Tropfen den Naturreichtum der Karpaten übergibt. Der Balsam ist aus 16 Pflanzenkomponenten erzeugt, 
    darunter Aufgüsse von Bergkräutern, er hat einen besonderen eigenartigen Geschmack und eine mächtige kräftigende Wirkung. 

%p
  Das Spirituosenwerk von TOV (GmbH) 
  %strong „Stanislawska torgowa kompanija“ 
  ist vor allem ein vereinigtes Fachleute-Team. 
  
%p
  %strong Gerade darum sind die hohe Qualität der Erzeugnisse und das Prestige des Unternehmens zur Ehrensache eines jeden Arbeiters des Spirituosenwerkes geworden.

- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#history_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');