- title 'Company History'

= image_tag 'frankivska/zavod-z-ramkou.png', :style => 'float: right; margin-left: 5px; margin-top: 70px; display: block;', :alt => 'завод'

%h1 Company History

%p
  Alcoholic Beverage Plant
  %strong "Stanislavska trading company” LLC  
  appeared on the market of Ukraine in the year of 2006 and became 
  the biggest investment into industrial production 
  of Ivano-Frankivsk.  
  
%p  
  %i
    The situation of the factory at the regional centre of Prycarpattya was not by chance:
    for the new production we chose one of the most ecological regions of the country,
    where the clean water and air are saved, where natural row material for the production of quality spirit products is reserved.

%p
  Equipped with the accounting of the most modern technologies, the enterprise quickly gained the trust of the customers thanks to the perfect quality of its production. 

%p
  Perfect cleaning and softening of the water is provided by the equipment by the company «Gulligan» ( USA), strong line of pouring – by Italian company «Simi Packaging Machines g.r.l”.
  
%h4
  %strong The first to appear on the market was the trade mark “Frankivska” that had six types.
  
%h4
  %strong The production of new trend  trade mark “Tsisarska” started in 2007.  

%p
  %i
    Such historical title is the meaning of events that were on the western territories during the 19 century. 
    For that period the biggest state of Europe was Austria-Hungary empire, and the governing monarch was Tsisar. 
    The empire united itself the territories of Galuch, Check Republic, Austria, Hungary and Bukovyna, 
    and as for that period the production of spirit drinks was well spread, each part of empire had its own favorite, 
    unique and produced according to the traditions vodka. Also very popular were drinks brought by guests Serbians. 
    We decided to propose you vodka that is produced with preserving old traditions of the territories of  Austria-Hungary. 
  
%p
  %i
    Assortment of the trade mark “Tsisarska” is the collection of six types of vodka and special types of vodka that combine unique recipes and old traditions.  
    Pride of production is also 
    %strong “Prykarpathian Balsam”
    , – legendary drink from the treasury of national recipes, each drop of which contains natural riches of Karpathians.
    It is produced of 16 herbal components, among which there are extracts of mountain herbs, 
    the balsam has original incredible taste and strong restorative action. 

%p
  Alcoholic Beverage Plant 
  %strong "Stanislav Trade Company" LLC
  it is first of all grouped team of professionals. 
  
%p
  %strong That is why the high quality of production and prestige of the enterprise is the matter of honor for each worker.

- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#history_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');