- title 'Акція'

%h1 Літо по-нашому!

%p
  Торговельна марка «Франківська» офіційно оголошує сезон відпусток відкритим та запрошує взяти участь у промо-акції  «Франківську обирай – літній настрій зустрічай»! З 23.07.2012 по 30.09.2012 на всіх шанувальників традиційних українських горілок від ТМ «Франківська» чекають літні подарунки. Купуйте продукцію ТМ «Франківська», збирайте акційні стікери, обмінюйте на призи та збирайтесь на відпочинок! А гарний настрій вам забезпечить традиційна горілка «Франківська», створена за особливою
  рецептурою.

%p
  = image_tag 'f1.jpg'  

%h2 Умови акції

%ul
  %li Акція діє - з 23.07.2012 по 30.09.2012.
  %li Придбавши ТМ «Франківська» 0,5л. у будь-якій торговельній мережі, відірвіть акційний стікер з лицевої етикетки та вклейте стікер до фірмової акційної стікер-книжечки.
  %li Зберіть 5, 8, 10, 15, 20 або 30 стікерів та обміняйте книжечку зі стікерами на подарунок*.
  %li Обміняти стікер-книжечки на подарунки можна у пунктах обміну на території дії акції. У кожному місті, де проводиться акція, працює 1 виставковий центр з пунктом обміну. Час роботи виставкових центрів: щосуботи та щонеділі з 12.00 до 16.00 під час дії акції.
  %li Стікер-книжечки можна отримати безкоштовно у будь-якій точці роздрібної торгівлі алкоголем, де реалізується продукція ТМ «Франківська».
  %li В разі відсутності стікер-книжки можна обміняти акційні стікери безпосередньо в точці обміну.
  %li Право приймати участь в акції мають особи яким виповнилось 18 років.

%h2 Акційні пляшки

%p
  = image_tag 'f2.jpg'

%h2 Призовий фонд

%ul
  %li 5 акційних стікерів – пляжна сумка
  %li 8 акційних стікерів – набір чарок у фірмовому чохлі або бейсболка
  %li 10 акційних стікерів – фірмова парасоля
  %li 15 акційних стікерів – футболка-поло
  %li 20 акційних стікерів – сумка-холодильник
  %li 30 акційних стікерів – набір шампурів у шкіряному чохлі

%h2 Стікер-книжка

%p
  = image_tag 'f3.jpg'

%br

%h2 Адреси пунктів обміну:

= render :partial => '/home/actions_table'


- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#actions_link').css('color', 'red').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');