- title "Gast-Wodka"

%h1 Produktionslinie

= image_tag 'general/gostunna.png', :style => 'float: left; height: 660px;padding-bottom: 50px'
%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Frankiwska Gast-Wodka
  %div.description ein leicht spürbares Aroma von Kaffee zeichnet diese Spirituose unter hunderten anderen aus. Der einzigartige Wodka für diejenige, wen Sie überraschen möchten.
  %div.micnist Stärke 38% 
  %div.mistkist Größe  0,25l; 0,5l.
  
- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');  