- title "Mild-Wodka"

%h1 Produktionslinie

= image_tag 'general/lagidna.png', :style => 'float: left; height: 660px;padding-bottom: 50px'
%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Frankiwska Mild-Wodka 
  %div.description Reinigung mit Silber und der höchstqualitative Alkohol sind Garantie der Weichheit und Kristallreinheit dieses Wodkas. 
  %div.micnist Stärke:  40% 
  %div.mistkist Größe:  0,25l; 0,5l; 0,75l.
  
- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    