- title "Лагидна"

%h1 Линейка продукции

= image_tag 'general/lagidna.png', :style => 'float: left; height: 660px;padding-bottom: 50px'
%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Франкивска Лагидна 
  %div.description очистка серебром и высококачественный спирт  является залогом мягкости и кристальной чистоты этой водки. 
  %div.micnist Крепость: 40%; 
  %div.mistkist Объем: 0,25л; 0,5 л; 0,75л.
  
- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    