- title "NATURALNESS OF PRODUCT"

%h1 NATURALNESS OF PRODUCT

= image_tag "frankivska/naturalnist_produktcii.jpg", :style => 'float: left; padding-right: 15px; padding-top: 15px;'

%p By virtue of exclusive formulas and use of exceptionally natural raw material, the product of liquor-vodka manufacturer LLC “Stanislavska Trading Company” has got recognition on national and international markets. 
%p All beverages – vodkas, special vodkas and balms – are manufactured adding the components of proper preparation. The combination of old traditions with novel technologies allows creation of the product of excellent quality and original pure taste. 
%p The base for the preparation of vodkas is a blend of high quality alcohol with water. Wheat alcohol of “de Luxe” class is mixed with the purest water of the Carpathian rivers and complementary purified using the technology of the lead manufacturer of “Guligan” equipment, USA. Alcohol of the highest quality is supplied by the producers certified by the Expert Tasting Committee of the concern “Ukralcohol”.
%p The blend of alcohol and water undergoes filtering according to the classic technology using carbon-sand battery; also, vodka additionally goes through the so called “silver filtration” for improvement of its organoleptic properties. We use aroma alcohol, liquor, fruit drinks and alcoholized juice manufactured from the natural raw material for reparation of special vodkas and liquor-vodka drinks. Aroma alcohol for the production of special vodkas is received after its distillation through natural dry material of plants, berries and spices. 
%p For liquor-vodka beverages, namely liquors and balms, we prepare tinctures and fruit drinks. Water-alcohol liquid is passing through dry plants, berries and spices, namely tutsan, sweet clover, marjoram, leaves of black currants and cherry, linden blossom, echinacea root, rose petals, haws, hips, currants and ashberries, cinnamon, sweet pepper, chilly pepper. 
%p For balms we use the alcoholized juice from ashberries, guelder rose and cherries. The production line receives the freshly impressed juice and immediately adds alcohol to it. It allows maximally keeping natural taste and aroma and transferring them to the drinks. 
%p By combining the special formulas with natural ingredients we create an unbelievable palette of different tastes and offer the feeling of pure quality of our products for our consumers.  

.clear{:style => 'clear: both; padding-bottom: 50px'}

- content_for :on_ready do
  jQuery('#quality_link').addClass('selected_menu');
  jQuery('#naturality_link').css('color', 'black').css('font-weight', 'bold').css('font-size', '10px')
  jQuery('ul#quality_nav').css('display', 'block');