- title "Производство"

%h1 Производство

%h4
  %strong 
    Производство качественной продукции невозможно без объединения
    таких факторов как современное оборудование, постоянный контроль и сплоченная команда профессионалов.
    Именно такой бескомпромиссный подход дал возможность создать продукцию, которая соответствует самым изысканным потребителям.
 
%p 
  Весь процесс изготовления водочных напитков на заводе автоматизированный. 
  Оборудование – из нержавеющей стали, производства мировых лидеров оборудования для пищевой промышленности из Франции, Италии, США.

%div#production_list
  - (1..6).to_a.each do |n|
    = image_tag "frankivska_#{I18n.locale}/foto-production-#{n}.png"

%p 
  %i Для производства водок ЛВЗ использует спирты самого высшего качества от лучших производителей Украины.  
  Производство водок – это высокотехнологический процесс, для которого, кроме высококачественного спирта, нужна еще и специально подготовленная вода.
  Оба фактора непосредственно влияют на качество продукции. Многоступенчатое очищение и смягчение воды обеспечивает оборудование фирмы  Gulligan (США). 
  Только несколько заводов  в Украине демонстрируют подобный уровень технологий и используют оборудование такого уровня. 
%p 
  В июне 2008 года на предприятие было введено в действие холодильную установку, которая предусматривает содержание оптимальной температуры 
  на всех этапах технологического процесса, что обеспечивает улучшение органолептических и физико-химических  показателей продукции. 
  Еще одним важным этапом является очистка сквозь установку «Серебренная фильтрация», после которой в очищенную водку добавляют ингредиенты,  
  которые превращают ее на водки классические или особые.
%p
  %strong Для приготовления ингредиентов используют исключительно природное натуральное сырье. 
  Все сырье, которое приходит на производство – сахар, мед, глюкоза, плоды лимона, тмина, паприки, ветки и листья смородины и вишни, 
  калиновый, рябиновый соки и другие – сертифицированно и  соответствует требованиям качества и безопасности.  
  С растительных компонентов на предприятии изготовляют ароматные спирты (для особых водок) и настойки (для бальзама). 
  Перед разливом продукция проходит финишную микрофильтрацию и полировку. 
  %strong Важной степенью защиты является тройное лазерное маркирование на колпачке и бутылке.
%p 
  Получить качественную продукцию помогает лабораторный контроль, который ведется на каждом этапе производства – от проверки входного сырья до выпуска готовой продукции.
  Лаборатория предприятия оснащена современным лабораторным оборудованием, которое дает возможность на протяжении всего производственного цикла 
  обеспечивать качество и безопасность продукции. 
%h4 Все в комплексе свидетельствует о высоком уровне организации управления производством и качеством продукции.
    

%div.clear

- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#productions_ext_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');

