- title "Виробництво"

%h1 Виробництво

%h4
  %strong 
    Виробництво якісної продукції неможливе без поєднання таких факторів як сучасне обладнання, 
    постійний контроль та згуртована команда професіоналів. Саме такий безкомпромісний підхід дав можливість створити продукцію, 
    що відповідає найвибагливішим потребам споживача. 
%p  
  Увесь процес виготовлення горілчаних напоїв на заводі автоматизований. 
  Обладнання — із нержавіючої сталі, виробництва світових лідерів устаткування для харчової промисловості з Франції, Італії, США. 

%div#production_list
  - (1..6).to_a.each do |n|
    = image_tag "frankivska_#{I18n.locale}/foto-production-#{n}.png"

%p 
  %i Для виготовлення горілок ЛГЗ використовує спирти найвищого ґатунку від кращих виробників України.  

%p
  Виготовлення горілок — це високотехнологічний процес, для якого, окрім високоякісного спирту, потрібна ще й спеціально підготовлена вода. 
  Обидва фактори безпосередньо впливають на якість продукції. Багатоступеневе очищення та пом’якшення води забезпечує обладнання фірми Gulligan (США).
  Лише кілька заводів в Україні демонструють подібний рівень технологій і використовують устаткування такого класу. 
%p 
  В червні 2008 року на підприємстві було введено в дію холодильну установку, яка передбачає дотримання оптимальної температури 
  на всіх етапах технологічного процесу, що забезпечує покращення органолептичних та фізико-хімічних показників продукції. 
  Ще одним важливим етапом є очистка через установку «Срібна фільтрація», після якої  в  очищену горілку додають інгредієнти, 
  які перетворюють її на горілки класичні чи особливі.
%p
  %strong Для приготування інгредієнтів використовують виключно природну натуральну сировину. 
  Жодних хімічних речовин, наголошують спеціалісти заводу. 
  Вся сировина, що надходить на виробництво — цукор, мед, глюкоза, плоди лимона, кмину, паприки, гілки й листя смородини і вишні, 
  сливовий, калиновий, горобиновий соки та ін. — сертифікована і відповідає вимогам якості та безпеки. З рослинних компонентів на 
  підприємстві виготовляють ароматні спирти (для особливих горілок) і настої (для бальзаму). 
  Перед розливом продукція проходить фінішну мікрофільтрацію та поліровку. 
  %strong Важливим ступенем захисту є потрійне лазерне маркування на ковпачку та пляшці.
%p 
  Отримати якісну продукцію допомагає лабораторний контроль, який ведеться на кожному етапі виробництва — від перевірки вхідної 
  сировини до випуску готової продукції. Лабораторія підприємства оснащена сучасним лабораторним обладнанням, що дає змогу впродовж 
  всього виробничого циклу забезпечувати якість і безпеку продукції. 
%h4 Все в комплексі свідчить про високий рівень організації управління виробництвом і якістю продукції
    

%div.clear

- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#productions_ext_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');

