- title "Quality Protection"

%h1 Quality Protection

%h4 Novelty embedded by the specialists of the enterprise – threefold laser marking gives opportunity to protect the production from forging.

%br

%div
  = image_tag "frankivska_#{I18n.locale}/quality-protection_#{I18n.locale}.png"

%p
  %ul
    %li	the date on the cap and bottle must coincide; 
    %li	the date of the bottling is under the date of the cap; 
    %li	the date of the bottling is on the protecting ring makes the second using impossible as a part of the date remains on the bottle
  
%p
  %strong 
    

- content_for :on_ready do
  jQuery('#quality_link').addClass('selected_menu');