- title "Защита качества"

%h1 Защита качества

%h4 Новинка внедрена специалистами предприятия – тройное лазерное маркирование дает возможность защитить продукцию от подделок.

%br

%div
  = image_tag "frankivska_#{I18n.locale}/protection_all_detailed.png"

%p.clear
  %ul
    %li	дата на колпачке и на бутылке должна совпадать;
    %li	дата розлива на бутылке расположена под датой на крышке-колпачке;
    %li	дата розлива расположена на защитном кольце делает невозможным повторное использование, так как часть даты остается на крышке-колпачке.
  
%p
  %strong 

- content_for :on_ready do
  jQuery('#quality_link').addClass('selected_menu');