- title "Захист якості"

%h1 Захист якості

%h4 Новинка впроваджена фахівцями підприємства – потрійне лазерне маркування дає можливість захистити продукцію від підробок.

%br

%div
  = image_tag "frankivska_#{I18n.locale}/protection_all_detailed.png"

%p.clear
  %ul
    %li	дата на ковпачку та на пляшці повинна співпадати;
    %li	дата розливу на пляшці розташована під датою на кришечці;
    %li	дата розливу розташована на захисному кільці унеможливлює повторне використання, оскільки частина дати залишається на пляшці

  
%p
  %strong  

- content_for :on_ready do
  jQuery('#quality_link').addClass('selected_menu');
  jQuery('ul#quality_nav').css('display', 'block');