- title "Серебряная"

%h1 Линейка продукции

= image_tag 'general/sriblasta.png', :style => 'float: left; height: 660px;padding-bottom: 50px'
%div{:class => 'vodka_page_block', :style => "padding: 0; width: 250px"}
  %h1.black_text.vodka_name Франкивска Серебряная   
  %div.description чистая родниковая вода в сочетании с ароматным спиртом мяты перцовой это настоящий глоток свежести и неповторимого вкуса.
  %div.micnist Крепость: 40%; 
  %div.mistkist Объем: 0,25л; 0,5л; 0,75л.
  
- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    