- title "Silver"

%h1 Production Line

= image_tag 'general/sriblasta.png', :style => 'float: left; height: 660px;padding-bottom: 50px'
%div{:class => 'vodka_page_block', :style => "padding: 0; width: 250px"}
  %h1.black_text.vodka_name Frankivska Silver   
  %div.description clear well-water in combination with the spirit of pepper mint – this is the real gulp of freshness and unique taste.
  %div.micnist Strength: 40%; 
  %div.mistkist Holding Capacity: 0,25l; 0,5l; 0,75l.
  
- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    