- title "With Pepper "

%h1 Production Line

= image_tag 'general_en/z_pertcem.png', :style => 'float: left; height: 660px;padding-bottom: 50px'
%div{:class => 'vodka_page_block'}
  %h1.black_text.vodka_name Frankivska with Pepper 
  %div.description aromatic spirit of odoriferous pepper and lightly felt the taste of lemon made vodka that has been the symbol of Ukrainian spirit for long time.
  %div.micnist Strength: 40%; 
  %div.mistkist Holding Capacity: 0,5l.
  
- content_for :on_ready do
  jQuery('#products_link').addClass('selected_menu');
  jQuery('#linia_productions_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#linia_nav').css('display', 'block');    